@font-face {
    font-family: 'AdiHaus';
    src: URL('https://assets.codepen.io/6060109/adihaus_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "AdiHaus";
    src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  
  body, html {
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: AdiHaus;
  }
  
  body {
    display: flex;
    background: url("https://assets.codepen.io/6060109/waves.png") no-repeat right center;
    background-size: cover;
  }
  
  #logo {
    display: block;
    margin: 15px auto;
  }
  
  #mobile-picture {
    background: url("https://assets.codepen.io/6060109/mobile-shoes.jpg") no-repeat right center;
    background-size: cover;
    width: 100%;
    height: 250px;
    
  }
  
  .all-container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .all-content-container{
    padding: 20px 30px;
    max-width: 500px;
    margin: 0 auto;
   
  }
  
  .text-container {
    width: 100%;
    text-align: center;
  }
  
  h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 48px;
    letter-spacing: 5px;
  }
  
  .first-text {
    color: #2F80ED;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .second-text {
    color: #423A3A;
  }
  
  p{
    color: #333333;
    line-height: 28px;
    margin: 20px 0 40px;
   
  }
  
  form {
    display: flex;
    margin-bottom: 100px;
  }
  
  input[type="text"]{
    width: 75%;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid #333333;
    
  }
  
  input[type="submit"]{
    width: 20%;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    background: rgb(124,124,124);
    background: linear-gradient(90deg, rgba(124,124,124,1) 0%, rgba(43,40,40,1) 86%);
    border: 0;
    color: white;
    font-size: 20px;
    
  }
  
  #desktop-picture {
    display: none;
  }
  
    /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  
    #mobile-picture {
      display: none;
    }
    
    .all-container {
      width: 60%;
    } 
    
    #logo{
      display: block;
      margin: 30px 30px 100px;
    }
    
    #desktop-picture {
      display: block;
      background: url('https://assets.codepen.io/6060109/shoes.png');
      background-size: cover;
      width: 40%;
    }
    
    .text-container {
      width: 100%;
      text-align: left;
    }
    
    h2 {
      font-size: 64px;
     
    }
    
    
    
  }